<div class="greeting-bg">
    <button class="back-button" routerLink="/home">←</button>
  <div class="greeting-container">
    <h1>💖 คำอวยพรสำหรับแฟนแฟ๊น 💖</h1>
    <div class="greeting-card">
      <p>
        เค้ารักแกแก๊มากๆเลยนะ ขอให้แฟนอยู้กับเค้านานๆเลยนะะแล้วเค้าก็รักแกแก๊มากกว่าด้วย แล้วคิดถึงมากๆด้วยนะขอให้โลกนี้ใจดีกับแฟนเค้าและขอให้แฟนเค้ามีความสุขๆทุกๆวันเลย<br />
        <span class="big-heart">💕</span>
      </p>
    </div>
    <button routerLink="/home">กลับหน้าหลัก</button>
  </div>
</div> 