<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form [formGroup]="form">
            <!-- Email Field -->
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" id="username" formControlName="username" required />
                <div *ngIf="form.get('username')?.errors?.['required'] && form.get('username')?.touched"
                    class="error-message">
                    ❌ กรุณากรอก username
                </div>
                <div *ngIf="form.get('username')?.errors?.['username'] && form.get('username')?.touched"
                    class="error-message">
                    ❌ กรุณากรอก username ให้ถูกต้อง
                </div>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" required />
                <div *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
                    class="error-message">
                    ❌ กรุณากรอกรหัสผ่าน
                </div>
                <div *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched"
                    class="error-message">
                    ❌ รหัสผ่านต้องมีอย่างน้อย 6 ตัวอักษร
                </div>
            </div>

            <button type="submit" class="login-button" (click)="checkAndSubmit()">Login</button>
            <div class="register-section">
                <span>Don't have an account?</span>
                <button type="button" class="register-button" (click)="goToRegister()">Register</button>
            </div>
        </form>
    </div>
</div>