<div class="home-bg">
  <div class="home-container">
    <h1 style="color: white;">สุขสันต์วันครบรอบ 2 ปีคั๊บ! ❤️</h1>
    <h1>Surprise for You! 🎁</h1>
    <div class="card-list">
      <a class="card" routerLink="/game">
        <img src="assets/image/img2.jpg" alt="game" />
        <h2>มินิเกมจับคู่</h2>
        <p>เล่นเกมบ่จ๊ะะะ</p>
      </a>
      <a class="card" routerLink="/greeting">
        <img src="assets/image/img3.jpg" alt="greeting" />
        <h2>อวยพรร</h2>
        <p>ห้ามเปิดนะเขิล</p>
      </a>
      <a class="card" routerLink="/gallery">
        <img src="assets/image/img4.jpg" alt="gallery" />
        <h2>รูปหลุดแฟนน</h2>
        <p>หุหุ ม้วฟ</p>
      </a>
    </div>
  </div>
</div> 